<!-- Hero Section with Background Image -->
<section class="relative h-screen bg-cover bg-center" style="
    background-image: url('https://i.pinimg.com/originals/67/9a/cf/679acfc168d0846ab8834d5ef7735038.gif');
  ">
  <!-- Overlay -->
  <div class="absolute inset-0 bg-opacity-60"></div>

  <!-- Content -->
  <div
    class="relative z-10 max-w-4xl mx-auto px-6 h-full flex flex-col justify-center items-center text-center text-white">
    <h1 class="text-4xl md:text-6xl font-extrabold mb-4">Chill Studio</h1>
    <p class="text-lg md:text-xl mb-8">
      Somos un espacio digital donde la calma se convierte en creatividad.
      Diseñamos y compartimos productos digitales con estética lofi y una vibra
      relajada: beats, wallpapers, plantillas, iconos y más.
    </p>
    <a routerLink='/products' class="bg-purple-500 hover:bg-purple-400 text-white font-semibold px-6 py-3 rounded transition">
      Explorar Productos
    </a>
  </div>
</section>